<?php

$config = PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules(
        array(
            '@Symfony' => true,
            '@DoctrineAnnotation' => true,
            '@Symfony:risky' => true,
            'array_syntax' => ['syntax' => 'short'],
            'combine_consecutive_unsets' => true,
            'concat_space' => ['spacing' => 'one'],
            // One should use PHPUnit methods to set up expected exception instead of annotations
            'general_phpdoc_annotation_remove' => array(
                'expectedException',
                'expectedExceptionMessage',
                'expectedExceptionMessageRegExp'
            ),
            'heredoc_to_nowdoc' => true,
            'list_syntax' => array('syntax' => 'long'),
            'no_extra_consecutive_blank_lines' => array(
                'break',
                'continue',
                'extra',
                'return',
                'throw',
                'use',
                'parenthesis_brace_block',
                'square_brace_block',
                'curly_brace_block'
            ),
            'no_short_echo_tag' => true,
            'no_unreachable_default_argument_value' => true,
            'no_useless_else' => true,
            'no_useless_return' => true,
            'ordered_class_elements' => true,
            'ordered_imports' => true,
            'php_unit_strict' => false,
            'php_unit_test_class_requires_covers' => true,
            'phpdoc_add_missing_param_annotation' => true,
            'phpdoc_align' => ['align' => 'left'],
            'phpdoc_order' => true,
            'self_accessor' => false,
            'semicolon_after_instruction' => true,
            'strict_comparison' => true,
            'strict_param' => true,
            'visibility_required' => [
                'elements' => [
                    'const',
                    'method',
                    'property',
                ]
            ],
        )
    );

if (file_exists(__DIR__ . '/src')) {
    $config->setFinder(
        PhpCsFixer\Finder::create()
            ->in(__DIR__ . '/src/Entity')
    );
}

return $config;
