{% extends "base.html.twig" %}

{% block title %}Create or update post{% endblock %}

{% block content %}
    <div class="main-content">
        <section class="section">
            <div class="section-header">
                <h2 class="section-title">Create New Post</h2>
            </div>
            <div class="section-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>Write Your Post</h4>
                            </div>
                            <div class="card-body">
                                {{ form(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}