<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% for post in posts %}
<h1>{{ post.title }}</h1>
<p>{{ post.text }}</p>
<p>{{ post.datePublished|date("m/d/Y")  }}</p>
    <a href="{{ '/posts/' ~ post.slug }}">Details</a>
{% endfor %}
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>